.accent{
    width: 130px;
    border-radius: 5px;
    border: 1px solid var(--accent-color);
    background: var(--accent-color);
    color: white;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}

.white{
    width: 130px;
    border-radius: 5px;
    border: 1px solid var(--accent-color);
    background: white;
    color: var(--accent-color);
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}