.content{
    height: 100vh;
    display: flex;
}

.auth{
    position: relative;
    width: 50%;
    background: linear-gradient(150deg, rgba(76,100,218,1) 0%, rgba(42,10,165,1) 100%);
    color: white;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 800;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.icon{
    width: 264px;
    height: 274px;
}

.outlet{
    position: relative;
    width: 50%;
}