.header{
    min-width: 990px;
    background: linear-gradient(150deg, rgba(76,100,218,1) 0%, rgba(42,10,165,1) 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px;
    border-radius: 20px;
    color: white;
}

.logo-title{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}

.version{
    font-weight: 300;
    opacity: 50%;
}

.button{
    padding: 10px 30px;
    width: max-content;
}